.task-list {
  background-color: var(--background-light);
  color: var(--text-light);
}

.app-container.dark .task-list {
  background-color: var(--background-dark);
  color: var(--text-dark);
}

.task-list ul {
  list-style-type: none;
  padding: 0;
}

.task-list li {
  padding: 10px;
  background-color: #f4f4f4;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.app-container.dark .task-list li {
  background-color: #444;
}

.task-list button {
  background-color: var(--remove-button-color);
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.task-list button:hover {
  background-color: #ff3333;
}